.close-btn {
position: absolute;
    z-index: 1000;
    top: 1.6rem;
    right: 1.6rem;
    /* padding: 1rem; */
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    background: #00000024;
    border: none;
    font-family: sans-serif;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
}

form-wizard {
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    .card {
    	width: 70%;
	    height: 90% !important;
	    margin: auto;
	    overflow: auto;
	    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
	    border-radius: .5rem;
	    background: #fff;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
    }
}

.nav-justified {
	display: flex;
	justify-content: space-between;
	border-bottom: .1rem solid #F0F0F5;
    padding: 2rem;
	position: relative;
	li.nav-item {
		border: none;	
		&:after {
			content: "";
			height: .8rem;
			width: .8rem;
			position: absolute;
			border-top: .3rem solid $secondary;
			border-right: .3rem solid $secondary;
			top: 50%;
			left: 18%;
			transform: rotate(45deg) translateY(-50%);
		}
		&:nth-child(1) {
			a:before {
				background-image: url('assets/images/01.png');
			}
		}
		&:nth-child(2) {
			a:before {
				background-image: url('assets/images/02.png');
			}
			&:after {
				left: 48%;
			}
		}
		&:nth-child(3) {
			a:before {
				background-image: url('assets/images/03.png');
			}
			&:after {
				left: 78%;
			}
		}
		&:last-child {
			a:before {
				background-image: url('assets/images/04.png');
			}
			&:after {
				content: none;
			}
		}
		&.active, &.enabled {
			a {
				color: $primary;
				&:before {
					filter: grayscale(0);
				}
			}
			&:after {
				border-color: $primary;
			}
		}
		a {
			display: inline-block;
			text-align: center;
			position: relative;
			margin-top: 6rem;
			color: #a2a5b8;
			font-size: 1.4rem;
			font-weight: 500;
			&:before {
				content: "";
				height: 4rem;
				width: 4rem;
				background-repeat: no-repeat;
			    background-position: center;
			    background-size: cover;
				position: absolute;
				top: -5.5rem;
			    left: 50%;
			    transform: translateX(-50%);
			    filter: grayscale(0.8);
			}
		}
	}
}

.card-block {
	padding: 5rem 0 4rem;
	margin: 0 2.4rem 3rem;
    border-bottom: .1rem solid $light-gray;
	h1 {
		line-height: 4rem;
    	margin-bottom: 2.4rem;
    	font-size: 1.8rem;
	}
	h3 {
		font-size: 1.6rem;
	    margin-bottom: 1.6rem;
	    color: #787794;
   	}
   	ul {
   		li {
   			color: #9193ad;
		    font-size: 1.3rem;
		    line-height: 2.2rem;
   		}
   	}
   	.details-box {
   		margin-bottom: 2rem;
	    padding-bottom: 2rem;
	    border-bottom: .1rem solid $light-gray;
	    &:last-child {
	    	margin: 0;
		    padding: 0;
		    border: none;
	    }
   	}
	.input-wrapper {
		display: flex;
		margin-bottom: 2.4rem;
		label {
			display: inline-block;
			line-height: 3.8rem;
			width: 24rem;
			font-size: 1.2rem;
			color: #7d7c92;
		}
		> div {
			width: calc(100% - 24rem);
			position: relative;
			input, select {
				width: 100%;
				height: 3.8rem;
			    border: .1rem solid $light-gray;
			    border-radius: .4rem;
			    padding: 0 1.6rem;
			   	font-size: 1.4rem;
    			color: $fontcolor;
    			background: #fff;
			}
			p {
				color: #b5b4c5;
			}
			a {
				color: $primary;
				opacity: .8;
			}
			.has-icon {
			    position: absolute;
			    display: inline-block;
			    height: 3.8rem;
			    width: 5rem;
			    background-color: #f7f7f7;
			    border-radius: .4rem 0 0 .4rem;
			    border: .1rem solid #e1e4ea;
			    left: 0;
				background-image: url('assets/images/arroba.png');
				background-repeat: no-repeat;
			    background-position: center;
			    filter: grayscale(1);
				&.phone {
					background-image: url('assets/images/phone.png');
				}
				& + input {
					padding-left: 6.6rem;
				}
			}
			.has-text {
			    position: absolute;
			    display: inline-block;
			    height: 3.8rem;
			    width: 5rem;
			    background: #f7f7f7;
				border-radius: 0 .4rem .4rem 0;
			    border: .1rem solid #e1e4ea;
				right: 0;
				line-height: 3.8rem;
			    text-align: center;
			    font-style: normal;
			    color: #969696;
    			font-size: 1.4rem;
				& + input {
					padding-right: 6.6rem;
				}					
			}
		}
		.checkbox-row {
			display: flex;
			> div {
				display: flex;
				align-items: center;
				margin-right: 1.6rem;
				input {
					margin-right: .5rem;
				}
			}
		}
		.is-invalid {
			input {
				border-color: $red;
				color: $red;
			}
			.has-icon, .has-text {
				border-color: $red;
				background-color: rgba(244, 67, 53, 0.1);
			}
			.has-icon {
				filter: grayscale(0);
			}
		}
		.invalid-feedback p {
			color: $red;
		}
	}
	.form-style2 {
		.input-wrapper {
			display: block;
			label {
				display: block;
				width: 100%;
			}
			> div {
				width: 100% !important;
			}	
		}
		.col-2 {
			display: flex;
			justify-content: space-between;
			.input-wrapper {
				width: 49%;
			}
		}
	}
}

.card-footer {
	margin: 0 2.4rem 4rem;
    height: 4.8rem;
}

.btn {
	height: 4.8rem;
    background: #fff;
    box-shadow: none;
    border: .1rem solid #F0F0F5;
    border-radius: .4rem;
    padding: 0 3rem;
    color: $fontcolor;
    /*font-weight: bold;*/
	&.next-btn {
		background: $primary;
		border: none;
		color: #fff;
	}
	&.done-btn {
		background: $green;
		border: none;
		color: #fff;
	}
}





